{# CORRECT PATH: puzzle/templates/puzzle/auth/password_reset_email.html #}
{% autoescape off %}
<p>Hello {{ user.username }},</p>

<p>You're receiving this email because you requested a password reset for your Python Puzzles account.</p>

<p>Please click the link below to reset your password:</p>

<p>
  <a href="{{ protocol }}://{{ domain }}{% url 'puzzle:password_reset_confirm' uidb64=uid token=token %}">
    Reset Password
  </a>
</p>

<p>If you didn't request this password reset, please ignore this email.</p>

<p>Thanks,<br>
The Python Puzzles Team</p>
{% endautoescape %}